.wechat-container{
  position: absolute;
  width: 100%;
  top: -28px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  background: rgba(247,247,247,.3);
  overflow: auto;
  z-index: -1;
}
.wechat-container-list ul{
  position: absolute;
  width: 100%;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 118px;
  margin: auto;
}
.search-bar{
  position: relative;
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 78px;
  background: #BCBDC2;
}
input{
  position: absolute;
  top: 0px;
  width: 96%;
  left: 0px;
  right: 0px;
  height: 25px;
  bottom: 0px;
  margin: auto;
}
.wechat-container-list li{
  width: 100%;
  height: 70px;
  position: relative;
  float: left;
  border-bottom: 1px solid #D8DBD5;
}
.wechat-container-list li:hover{
  background-color: #E1E4DE;
  cursor: pointer;
}
.wechat-container-photo{
  width: 50px;
  height: 50px;
  position: relative;
  float: left;
  background: url(images/group.png);
  background-repeat: round; 
  background-color: #B0D8B3;
  margin: 10px 0px 0px 10px;
}
.wechat-container-title{
  width: 72%;
  height: 16px;
  position: relative;
  float: left;
  margin: 12px 0px 0px 10px;
  font-size: 18px;
  font-weight: 700;
}
.wechat-container-title p, .wechat-container-record p{
  white-space:nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}  
.wechat-container-record{
  width: 70%;
  height: 16px;
  position: relative;
  float: left;
  margin: 12px 0px 0px 10px;
  color: #B6B6B6;
}
.wechat-container-time{
  display: block;
  position: absolute;
  top: 0px;
  left: auto;
  right: 0px;
  bottom: 0px;
  color: #B6B6B6;
}

