.plane{
  z-index: 2;
  position: absolute;
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url(images/plane.png);
  transition: transform ease 100ms;
}

.bullet{
  z-index: 1;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #46122A;
  overflow: hidden;
  position: absolute;
  left: -100px;
  top: 0;
}