*{
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 500px;
}
a{color:black} /*设置默认颜色*/
a:link {color:blue;} /*未访问颜色*/
a:visited {color:gray;} /*已访问颜色*/
a:hover {color:red;} /*悬浮（鼠标经过）时颜色*/
a:active {color:yellow;} /*点击时的颜色*/

strong{
  color: #30DF46;
}
.title h1{
  font-size: 25px;
  line-height: 58px;
  letter-spacing: 2px;
  font-family: cursive;
}
.title h2{
  line-height: 20px;
  letter-spacing: 2px;
  padding-bottom: 20px;
  font-size: 20px;
}
.container{
  width: 750px;
  height: 1080px;
  border: 1px solid #CFD0D1;
  margin: auto;
  text-align: center;
}
h4{
  border-top: 2px solid #CFD0D1;
  border-bottom: 2px solid #CFD0D1;
  text-align: initial;
  line-height: 30px;
}

.left_container, .right_container{
  display: inline-block;
  position: relative;
  float: left;
  width: 46%;
  height: 1050px;
  padding-top: 25px;
}
.left_container_box{
  width: 80%;
  margin: auto;
}
.title{
}
.head_portrait, .message_add,.experience_container, .project_container{
  padding: 15px 0px 15px 0px;
}
.pic{
  display: inline-block;
  border-radius: 50%;
  width: 160px;
  height: 150px;
  box-shadow: 0 0 0px 1px #CFD0D1;
}
.pic img{
  border-radius: 50%;
}
.message{

}
.message li{
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #CFD0D1;
  line-height: 30px;
}
.message li span{
  width: 40px;
  float: left;
  line-height: 30px;
}
.message li span:after{
  content: '|';
  width: 1px;
  height: 20px;
  position: absolute;
  padding-left: 10px;
}
.message li p{
  float: right;
}
.about_me{
  // box-shadow: 0 0 0px 1px #CFD0D1;
  width: 100%;
  height: 250px;
  margin-top: 30px;
}
.about_me p{
  text-indent: 20px;
  text-align: initial;
  letter-spacing: 1px;
  line-height: 20px;
}
.message_add li{
  display: inline-block;
  width: 100%;
  line-height: 20px;
}
.message_add li span{
  width: 40px;
  float: left;
  line-height: 20px;
}
.message_add li p{
  float: left;
}
.skills li{
  display: inline-block;
  width: 55%;
  line-height: 20px;
  float: left;
}
.skills li span{
  width: 40px;
  float: left;
  line-height: 20px;
  font-family: monospace;
}
.skills p{
  text-align: initial;
}
.skills .full{
  width: 150px;
  height: 5px;
  background: #67DF94;
  margin-left: 95px;
  margin-top: 8px;
  border-radius: 10px;
}
.skills .ratio{
  height: 5px;
  background: #DF3148;
  margin-left: 95px;
  margin-top: -5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.experience_container{
  height: 350px;
}
.content .content_a, .content .content_b{
  position: relative;
  float: left;
}
.content .content_a{
  width: 14%;
  font-size: 13px;
}
.content_a span:first-child:before{
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #161617;
  position: absolute;
  right: -28px;
}
.content_a span:first-child,.content_a span:last-child{
  display: -webkit-inline-box;
  width: 100%;
}
.content_b p:first-child{
  color: #4649DF;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.content_b p:last-child{
  line-height: 16px;
  letter-spacing: 1px;
  padding-bottom: 20px;
}
.content .content_b{
  padding-left: 15px;
  margin-left: 15px;
  width: 70%;
  text-align: initial;
  border-left: 1px solid #000;
}

.content_a span{
  transform:scale(0.8);    
  -webkit-transform:scale(0.8);    
  -moz-transform:scale(0.8);    
  -o-transform:scale(0.8);    
  -ms-transform:scale(0.8);}
}

.right_container{
  float: right;
}

@media print{
  *{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 500px;
  }
  a{color:black} /*设置默认颜色*/
  a:link {color:blue;} /*未访问颜色*/
  a:visited {color:gray;} /*已访问颜色*/
  a:hover {color:red;} /*悬浮（鼠标经过）时颜色*/
  a:active {color:yellow;} /*点击时的颜色*/

  strong{
    color: #30DF46;
  }
  .title h1{
    font-size: 25px;
    line-height: 58px;
    letter-spacing: 2px;
    font-family: cursive;
  }
  .title h2{
    line-height: 20px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    font-size: 20px;
  }
  .container{
    width: 750px;
    height: 1080px;
    border: 1px solid #CFD0D1;
    margin: auto;
    text-align: center;
  }
  h4{
    border-top: 2px solid #CFD0D1;
    border-bottom: 2px solid #CFD0D1;
    text-align: initial;
    line-height: 30px;
  }

  .left_container, .right_container{
    display: inline-block;
    position: relative;
    float: left;
    width: 46%;
    height: 1050px;
    padding-top: 25px;
  }
  .left_container_box{
    width: 80%;
    margin: auto;
  }
  .title{
  }
  .head_portrait, .message_add,.experience_container, .project_container{
    padding: 15px 0px 15px 0px;
  }
  .pic{
    display: inline-block;
    border-radius: 50%;
    width: 160px;
    height: 150px;
    box-shadow: 0 0 0px 1px #CFD0D1;
  }
  .pic img{
    border-radius: 50%;
  }
  .message{

  }
  .message li{
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid #CFD0D1;
    line-height: 30px;
  }
  .message li span{
    width: 40px;
    float: left;
    line-height: 30px;
  }
  .message li span:after{
    content: '|';
    width: 1px;
    height: 20px;
    position: absolute;
    padding-left: 10px;
  }
  .message li p{
    float: right;
  }
  .about_me{
    // box-shadow: 0 0 0px 1px #CFD0D1;
    width: 100%;
    height: 250px;
    margin-top: 30px;
  }
  .about_me p{
    text-indent: 20px;
    text-align: initial;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .message_add li{
    display: inline-block;
    width: 100%;
    line-height: 20px;
  }
  .message_add li span{
    width: 40px;
    float: left;
    line-height: 20px;
  }
  .message_add li p{
    float: left;
  }
  .skills li{
    display: inline-block;
    width: 55%;
    line-height: 20px;
    float: left;
  }
  .skills li span{
    width: 40px;
    float: left;
    line-height: 20px;
    font-family: monospace;
  }
  .skills p{
    text-align: initial;
  }
  .skills .full{
    width: 150px;
    height: 5px;
    background: #67DF94;
    margin-left: 95px;
    margin-top: 8px;
    border-radius: 10px;
  }
  .skills .ratio{
    height: 5px;
    background: #DF3148;
    margin-left: 95px;
    margin-top: -5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .experience_container{
    height: 350px;
  }
  .content .content_a, .content .content_b{
    position: relative;
    float: left;
  }
  .content .content_a{
    width: 14%;
    font-size: 13px;
  }
  .content_a span:first-child:before{
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #161617;
    position: absolute;
    right: -28px;
  }
  .content_a span:first-child,.content_a span:last-child{
    display: -webkit-inline-box;
    width: 100%;
  }
  .content_b p:first-child{
    color: #4649DF;
    margin-bottom: 10px;
    letter-spacing: 1px;
  }
  .content_b p:last-child{
    line-height: 16px;
    letter-spacing: 1px;
    padding-bottom: 20px;
  }
  .content .content_b{
    padding-left: 15px;
    margin-left: 15px;
    width: 70%;
    text-align: initial;
    border-left: 1px solid #000;
  }

  .content_a span{
    transform:scale(0.8);    
    -webkit-transform:scale(0.8);    
    -moz-transform:scale(0.8);    
    -o-transform:scale(0.8);    
    -ms-transform:scale(0.8);}
  }

  .right_container{
    float: right;
  }
}















