@media screen and (max-width: 765px){/*最大数以内*/
  *{
    text-indent: 14px;
    line-height: 23px;
  }
  #content{
    border: 1px solid #17D325;
    width: 99.9%;
    // height: 1500px;
    margin: 0 auto;
    // background: rgba(100,100,100,0.5);
    overflow: hidden;
  }
  #summary{
    width: 99.9%;
    height: 488px;
    border-bottom: 1px solid #8A8D8A;
    // background: rgba(82,204,156,0.5);
  }
  .resume{
    width: 99.9%;
    height: 50px;
    background: #55CA51;
    line-height: 30px;
    font-weight: 900;
    color: #FCFFFE;
    font-size: 20px;
  }
  #leftColumn{
    width: 99.9%;
    // background: rgba(200,200,200,0.5);
  }
  .photo{
    position: relative;
    width: 180px;
    height: 180px;
    float: right;
    border-radius: 50%;
    margin-top: -50px;
    border: 3px solid #92938B;
    text-indent: 0px;
  }
  .photo + h1{
    line-height: 40px;
    text-indent: 14px;
    font-size: 30px;
  }
  .photo + h1 + h4{
    font-size: 12px;
  }
  .i-a, .i-b{
    color: #0C16E2;
  }
  .data{ 
    padding-bottom: 10px;
  }
  dl{
    display: none;
  }
  table{
    display: block;
  }
  .code{
    position: fixed;
    right: 0px;
    bottom: 0px;
  }
  .text-p{
    padding: 10px;
  }
  spen{
    color: #E23D59;
  }
  #main{
    padding-top: 10px;
    // background: rgba(82,204,156,0.5);
  }
  .main-p{
    padding: 0 10px 20px 10px;
  }
  .item-a li{
    margin: 10px 0 10px 0;
  }
 #works ul{
    position: relative;
    float: left;
    margin: 0px 10px 40px 10px;
    width: 150px;
    height: 100px;
    border: .5px solid #000000;
    z-index: 1;
  }
  #works ul li{
    position: absolute;
    margin: 0 auto;
    text-indent: 0px;
  }
  #works li a{
    color: #F61F28;
    text-decoration:underline;
  }
}
@media screen and (min-width: 765px){/*最小数以外*/
  *{
    line-height: 23px;
  }
  #content{
    border: 1px solid #17D325;
    width: 770px;
    height: 906px;
    margin: 0 auto;
    /*background: url(images/background.png) round;*/
  }
  #summary{
    position: relative;
    float: left;
    padding: 0 10px;
  }
  .resume{
    width: 200px;
    height: 40px;
    background-color: #65D35F;
    line-height: 63px;
    font-weight: 900;
    color: #FCFFFE;
    text-indent: 14px;
  }
  .nav{
    width: 200px;
    height: 77px;
    text-align: center;
    line-height: 100px;
    font-size: 44px;
    font-weight: 900;
    color: #606161;
  }
  #leftColumn{
    width: 200px;
    height: 678px;
    background: #DFE3E3;
  }
  .photo{
    position: relative;
    float: left;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(images/pic.jpg) round;
    border: 3px solid #A1A5A2;
    margin: 20px 0 10px 6px;
  }
  .photo + h1{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .photo + h1 + h4{
    display: block;
    text-indent: 14px;
    margin-bottom: 10px;
  }
  .i-a{
    color: #0CA512;
    font-weight: 900;
    display: block;
    text-indent: 14px;
  }
  .table{
    display: none;
  }
  .code{
    position: absolute;
    float: right;
    width: 100px;
    height: 100px;
    right: 31px;
    top: 146px;
  }
  .text-p{
    display: block;
    width: 160px;
    margin-left: 20px;
  }
  spen{
    color: #FF81A6;
  }
  #main{
    position: relative;
    padding: 30px 30px 0;
    float: left;
    width: 60%;
    height: 95%;
    /*border: 1px solid #A1A5A2;*/
  }
  .item-a li:nth-child(n){
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 210px;
    height: 20px;
    margin-right: 10px;
  }
  .item-a li:nth-child(2n){
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 210px;
    height: 20px;
  }
  .item-a li:last-child{
    margin-bottom: 10px;
    position: relative;
    width: 460px;
    height: 20px;
  }
  .data{
    width: 100%;
    height: 185px;
  }
  .experience{
    width: 100%;
    height: 317px;
  }
  .i-b{
    color: #0CA512;
    font-weight: 900;
    display: block;
  }
  table{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  table th{
    color: #0CA512;
  }
 #works li{
    position: relative;
    float: left;
    margin-left: 2px;
    margin-bottom: 40px;
    width: 150px;
    height: 100px;
    border: .5px solid #000000;
    z-index: 1;
  }
  #works li a{
    text-decoration: none;
  }
  #works li a:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    color: #B46667;
    z-index: 100;
  }
  #works li:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    color: #B46667;
    z-index: 10;
    text-decoration:underline;
  }
}
@media print {
  *{
    line-height: 23px;
  }
  #content{
    border: 1px solid #17D325;
    width: 770px;
    height: 906px;
    margin: 0 auto;
    /*background: url(images/background.png) round;*/
  }
  #summary{
    position: relative;
    float: left;
    padding: 0 10px;
  }
  .resume{
    width: 200px;
    height: 40px;
    background-color: #65D35F;
    line-height: 63px;
    font-weight: 900;
    color: #FCFFFE;
    text-indent: 14px;
  }
  .nav{
    width: 200px;
    height: 77px;
    text-align: center;
    line-height: 100px;
    font-size: 44px;
    font-weight: 900;
    color: #606161;
  }
  #leftColumn{
    width: 200px;
    height: 752px;
    background: #DFE3E3;
  }
  .photo{
    position: relative;
    float: left;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(images/pic.jpg) round;
    border: 3px solid #A1A5A2;
    margin: 20px 0 10px 6px;
  }
  .photo + h1{
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .photo + h1 + h4{
    display: block;
    text-indent: 14px;
    margin-bottom: 10px;
  }
  .i-a{
    color: #0CA512;
    font-weight: 900;
    display: block;
    text-indent: 14px;
  }
  .code{
    position: absolute;
    float: right;
    width: 100px;
    height: 100px;
    right: 31px;
    top: 146px;
  }
  .text-p{
    display: block;
    width: 160px;
    margin-left: 20px;
  }
  spen{
    color: #FF81A6;
  }
  #main{
    position: relative;
    padding: 30px 30px 0;
    float: left;
    width: 60%;
    height: 95%;
    /*border: 1px solid #A1A5A2;*/
  }
  .item-a li:nth-child(n){
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 210px;
    height: 20px;
    margin-right: 10px;
  }
  .item-a li:nth-child(2n){
    margin-bottom: 10px;
    position: relative;
    float: left;
    width: 210px;
    height: 20px;
  }
  .item-a li:last-child{
    margin-bottom: 10px;
    position: relative;
    width: 460px;
    height: 20px;
  }
  .data{
    width: 100%;
    height: 185px;
  }
  .experience{
    width: 100%;
    height: 317px;
  }
  .i-b{
    color: #0CA512;
    font-weight: 900;
    display: block;
  }
  .table{
    display: none;
  }
  table{
    margin-top: 30px;
    margin-bottom: 30px;
  }
  table th{
    color: #0CA512;
  }
 #works li{
    position: relative;
    float: left;
    margin-left: 2px;
    margin-bottom: 40px;
    width: 150px;
    height: 100px;
    border: .5px solid #000000;
    z-index: 1;
  }
  #works li a{
    text-decoration: none;
  }
  #works li a:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    color: #B46667;
    z-index: 100;
  }
  #works li:hover{
    box-shadow: 3px 3px 5px rgba(0,0,0,.3);
    color: #B46667;
    z-index: 10;
    text-decoration:underline;
  }
}
